@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(223, 221, 221, 0.705);
    font-family: Arial, Helvetica, sans-serif;
}
.dark{
    background-color: black;
}

/* MENU SIDE CONFIGS  */
h1.menu{
    margin: 0px;
}
.logo img{
    
    width: 2rem;
    height: 2rem;
}

.logo{
    display: flex;
    
  
}

.top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    cursor: pointer;
   
}

#name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    
}

.red{
    color: #ff7782;
    
}
#menureal{
    z-index: 1;
    position: absolute;
    left: 0%;
    
}


.asidemenu{
    
    background-color: white;
    font-size: 0.8em;
    border-radius: 10px;
}
.sidebar{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2rem;
    padding-right: 4em;
    padding-bottom: 1.5em;
    
}
.option{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-weight: bolder;
    margin: 1.2em;
    color: rgba(117, 113, 113, 0.808);
    border-radius: 15px;
    padding: 10px;
    
}

.option:hover{
    cursor: pointer;
    transition: 400ms;
    color:  rgba(93, 63, 202, 0.473) ;
    background-color: rgba(80, 80, 80, 0.301);
}


.option h2{
    margin: 0.6em;
    font-size: 1em;
}


.asidemenu .sidebar .option:hover{
    transition: 400ms ease;
    margin-left: 0.5em;
}

.hide{
    display: none;
}




/* HTML MAIN PART CONFIGS */


h1{
    font-family:'Kanit', sans-serif;
    margin-top: 1.3em;
    margin-left: 0.5em;
   
}

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
    height: 90px;
    box-shadow: 5px 5px 20px rgba(48, 47, 47, 0.39);

}
 
#profile{
    display: none;
}

#menubtn {
    background-color: transparent;
    border-style: none;
    position: absolute;
    right: 87.2%;
    margin-top: 2em;
   
   
}

#menu{
    font-size: 36px;

    
}
#stylebtn:hover{
    cursor: pointer;
}

div#stylebtn{
    display: flex;
    justify-content: space-around;
    background-color:  rgba(223, 221, 221, 0.705);
    width: 5em;
    height: 1.6em;
    padding-left: 2px;
    border-radius: 10px;
    margin-top: 2em;
    margin-right: 0.8em;
    color: black;
}

.lightmode{
    text-align: center;
    color: white;
    background-color: rgba(93, 63, 202, 0.473);
    width: 3em;
    border-radius: 10px;
}
.none{
    background-color: transparent;
    color: black;
}

div#profileimg{
    background-image: url(images/profile-1real.jpg);
    background-position: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 0.6em;
    margin-right: 1em;
}

main{
    margin: 15px 15px 15px 13px;
}


input{
    padding: 6px 30px;
    background-color: rgba(177, 177, 177, 0.705);
    border-style: none;
    margin-left: 1em;
}

div.box{
    background-color: white;
    margin: 0.25em;
    border-radius: 20px;
    padding: 50px 20px;
    font-size: 5vw;
    box-shadow: 2px 2px 10px rgba(71, 69, 69, 0.39);
}

h3, h4{
    margin: 22px 10px 22px 10px;

}

p {
    margin-top: 2.5em;
    font-size: 16px;
    color:rgba(94, 91, 91, 0.829) ;
    margin-left: 10px;
}

#icons-dashboard{
    margin-left: 10px;
    font-size: 37px;
    background-color: orange;
    padding: 10px; 
    border-radius: 50%;
}

#icons-dashboard2{
    margin-left: 10px;
    font-size: 37px;
    background-color: rgb(114, 167, 245);
    padding: 8px; 
    border-radius: 50%;
}

#icons-dashboard3{
    margin-left: 10px;
    font-size: 37px;
    background-color: rgb(75, 218, 75);
    padding: 8px; 
    border-radius: 50%;
}


table thead tr th{
    font-size: 3.3vw;
    padding: 17px 3.8vw;
   
    
}

table tbody tr td{
    font-size: 3.3vw;
    padding: 15px 3.8vw;
   
    
}

div.update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 3rem;
    margin-bottom: 2.2em;
    margin-top: 1.2em;
}

#imgProfileMike{
    background-image: url(images/profile-2.jpg);
    width: 80px;
    height: 80px;
    background-position: right center;
    border-radius: 50%;
    border: 2px solid black;
    
   
}

#imgProfileDiana{
    background-image: url(images/profile-3.jpg);
    width: 80px;
    height: 80px;
    background-position: top center;
    border-radius: 50%;
    border: 2px solid black;
}

#imgProfileMandy{
    background-image: url(images/profile-4.jpg);
    width: 80px;
    height: 80px;
    background-position:  center;
    border-radius: 50%;
    border: 2px solid black;
}

#icon-sales{
    padding: 10px;
    background-color:  orange;
    border-radius: 50%;
}

#icon-sales1{
    padding: 10px;
    background-color: rgba(221, 47, 47, 0.932);
    border-radius: 50%;
}

#icon-sales2{
    padding: 10px;
    background-color:  rgb(75, 218, 75);
    border-radius: 50%;
}

.dotted{
    margin-top: 1em;
    font-weight: bolder;
    color: rgb(104, 104, 104);
    text-align: center;
    padding: 35px 30px;
    border: 3px solid rgba(126, 120, 120, 0.767);
    border-style: dotted;
    border-radius: 20px;
}
p.green{
    display: inline;
    color: green;
    margin: 1.4em;
}
p.red{
    display: inline;
    color: red;
    margin: 1.4em;
}

h5{
    font-size: 0.7em;
    display: inline;
    margin-left: 0.7em;
}

.box:hover{
    transition: 600ms;
    box-shadow: none;
}

.dotted:hover{
    transition: 300ms;
    background-color: rgba(93, 63, 202, 0.473);
    color: white;

}
#maindiv{
    margin: 10px;
}



@media (min-width: 678px) {
    #menubtn{
        display: none;
    }
    p{
        margin-top: 1.5em;
    }
    h1#updatesTitle{
        margin-top: 0.3em;
    }
    h1#Salestitle{
        margin-top: 0.48em;
    }

    #stylebtn{
        position: relative;
        right: -65vw;
    }

    #profileimg{
        position: relative;
        right: -62.5vw;
    }
    
    #profile{
        position: relative;
        right: -65.5vw;
        display: flex;
        margin-right: 1em;
    }

    #dashboard .box{
       width: 155%;
       font-size: 3vw;
    }

    #menureal{
        display: inline-flex;
        z-index: initial;
        
         
    }
    
    .asidemenu{
        background-color: transparent;
        width: 100%;
        margin: 1em;
    }
    .sidebar{
        background-color: transparent;
        padding-right:1em;
    }

    div.top{
        display: none;
    }

    #logout{
        margin-top: 10px;
    }

    .option h2{
        display: none;
    }
    .option{
        font-size: larger;
        padding: 20px;
        margin: 0.7em;
    }
    .option:hover{
        border-left: 8px solid;
        border-left-color:  rgba(93, 63, 202, 0.473)  ;
        
    }

    header{
        background-color: transparent;
        box-shadow: none;
        height: 0px;
        order: 0;
        margin-right: -150px;
    }

    body{
        background-color: rgb(248, 241, 241) ;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    

    div.box{
        padding: 18px 9px;
        font-size: 0.2vw;
    }
    div#title-box{
        font-size: 2.8vw;
        padding: 10px 0px 9px 13px;

    }

    main{
        margin: 15px 120px 15px 13px;
        height: 60%;
    }

    section#updates{
        display: flex;
        flex-direction: column;
        width: 62%;

    }
    section#sales{
        width: 64%;
    }
    


    
    section#orders{
      display: flex;
      flex-direction: column;
      position: relative;
      right: 63%;
      margin-left: 2em;
      order: 3;
      font-size: 1.3em;
    }
   
    
    #updatebox{
        padding: 3px 15px;
        font-size: 1.7vw;
    }
    
    #maindiv{
        order: 3;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 5.2em;
        margin-left: 1.5em;
        
        
    }

    div#imgProfileMike{
        width: 63px;
        height: 63px;
    }
    div#imgProfileDiana{
        width: 63px;
        height: 63px;
    }
    div#imgProfileMandy{
        width: 63px;
        height: 63px;
    }
    div.update{
        margin-bottom: 7.2em;
        margin-left: 4.5em;
    }

}


@media (min-width:900px) {
    section#orders{
       right: 53%;
    }
    #stylebtn{
        
        right: -72vw;
    }

    #profileimg{
      
        right: -69.5vw;
    }
    
    #profile{
        
        right: -72.5vw;
        
    }
    #dashboard .box {
        width: 145%;
        font-size: 2.1vw;
    }
    
}








